@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

/*F4E3F5
EBBFEF
BA28C8
*/

body {

    background: black;
    margin: 0;
    padding: 0;
    
}


.all-container2 {
    width: 100%;
    height: 100%;
 position:absolute;
 object-fit: cover;
z-index: -1;

}

.valido {
    border:1px solid green !important;
}


.invalido {
    color: #BA28C8;
    background: rgba(244, 227, 245, 1);
    border: 1px solid #EBBFEF;
}

.see {
    z-index: 1;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 225px;
    cursor: pointer;
}

.check {
    visibility: hidden;
    z-index: 9999999;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 225px;
    cursor: pointer;
}

.box {
    background: #F9F9F9;
    height: 100%;
    width: 373px;
    position: absolute;
}

.icon-container {
    margin: 0 auto;
}

.icon {
    padding-top: 55px;
    margin: 0 auto;
    display: flex;
    width: 34px;
    height: 36px;
}

.ingresar {
    margin: 58px 0 20px 0;
    text-align: center;
    font-size: 23px;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: -1.6px;

}

::placeholder {
    font-family:'Noto Sans JP', sans-serif;
    letter-spacing: 1.5px;
    font-size: 9px;
    color: #9b9b9b;
    padding-left: 12px;
    
}

.form {
    margin-top: 0px;
}


.button {
    margin: 23px auto;
    width: 56px;
    height: 56px;
    border-radius: 18px;
    border: #ebebeb 3.3px solid;
    background: #F9F9F9;
    position: relative;
   
}

.content {
    border: 1px solid #ebebeb;
  
    width: 18px;
    border-radius: 2px 2px 2px 2px;
    margin: 0 auto;
}


.button::after {
    border-radius: 2px 2px 2px 2px;
    content: " ";
    border: 1px solid #ebebeb;
    position:absolute;
    width: 9px;
    top: 28px;
    transform: rotate(-50deg);
  
}

.button::before {
    border-radius: 2px 2px 2px 2px;
    content: " ";
    border: 1px solid #ebebeb;
    position:absolute;
    width: 9px;
    top: 19px;
    transform: rotate(50deg);
}

.inp {
    display: flex;
    margin: 7px auto;
    width: 249px;
    background: #999999;
    border: none;
    border-radius: 2px;
    height: 39px;
    text-decoration: none;
    position: relative;
    }

form {
    
    display: flex;
    flex-direction: column;
 
}

input {
    border:none;
    background:#f2f2f2;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    padding-left: 6px;
    padding-top: 15px;
    text-decoration: none;
}

.active {
    background: #e7e7e7;
    transition: all 0.4s ease;
}

.up {
    transition: all 0.1s ease;
    font-family:'Noto Sans JP', sans-serif;
    letter-spacing: 1.5px;
    font-size: 7px;
    color: #9b9b9b;
    padding-left: 6px;
    position: absolute;
    padding-top: 2px;
}
.down {
    transition: all 0.1s ease;
    font-family:'Noto Sans JP', sans-serif;
    letter-spacing: 1.5px;
    font-size: 9px;
    color: #9b9b9b;
    padding-left: 12px;
    position: absolute;
    padding-top: 11px;
}

.correct {
    transition: all 0.1s ease;
    display: none;
    margin: 7px auto;
    width: 47px;
    height: 44px;
    text-decoration: none;
    position: absolute;
    left: 256px;
    top: -9px;
    transform: scale(0);
}

.correct > img {
    margin: auto;
}

.alert {
    transition: all 0.1s ease;
    display: none;
    margin: 7px auto;
    width: 249px;
    background: #e7e7e7;
    border: none;
    border-radius: 2px;
    height: 44px;
    text-decoration: none;
    position: absolute;
    left: 256px;
    top: -9px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;    
}

.alert-text {
    text-align: center;
    font-family:'Noto Sans JP', sans-serif;
    font-size: 12px;
    width: 230px;
    margin: 4px auto;
}

.alert2 {
    transition: all 0.1s ease;
    display: none;
    margin: 7px auto;
    width: 249px;
    background: #e7e7e7;
    border: none;
    border-radius: 2px;
    height: 44px;
    text-decoration: none;
    position: absolute;
    left: 256px;
    top: -9px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;    
}

.alert-text2 {
    text-align: center;
    font-family:'Noto Sans JP', sans-serif;
    font-size: 12px;
    width: 230px;
    margin: 10px auto;
}


.alert3 {
    transition: all 0.1s ease;
    display: none;
    margin: 7px auto;
    width: 249px;
    background: #e7e7e7;
    border: none;
    border-radius: 2px;
    height: 44px;
    text-decoration: none;
    position: absolute;
    left: 256px;
    top: -9px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;    
}

.alert-text3 {
    text-align: center;
    font-family:'Noto Sans JP', sans-serif;
    font-size: 12px;
    width: 230px;
    margin: 10px auto;
}

.alert4 {
    transition: all 0.1s ease;
    display: none;
    margin: 7px auto;
    width: 249px;
    background: #e7e7e7;
    border: none;
    border-radius: 2px;
    height: 44px;
    text-decoration: none;
    position: absolute;
    left: 256px;
    top: -9px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;    
}

.alert-text4{
    text-align: center;
    font-family:'Noto Sans JP', sans-serif;
    font-size: 12px;
    width: 230px;
    margin: 10px auto;
}

.alert5 {
    transition: all 0.1s ease;
    display: none;
    margin: 7px auto;
    width: 249px;
    background: #e7e7e7;
    border: none;
    border-radius: 2px;
    height: 44px;
    text-decoration: none;
    position: absolute;
    left: 256px;
    top: -9px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;    
}

.alert-text5 {
    text-align: center;
    font-family:'Noto Sans JP', sans-serif;
    font-size: 12px;
    width: 230px;
    margin: 10px auto;
}

.label8 {
    width: 80px;
    height: 20px;
    border-radius: 2px;
    background:#f2f2f2;
    margin: 0 auto;
    text-align: center;
    padding-top: 5px;
    box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;}

.alertPop {
    transition: all 0.1s ease;
    display: block;
    transform: scale(1);
}


#icon {
    color: #F9F9F9;
    position:absolute;
    margin-top: 7px;
    margin-left: 8px;
    font-size: 17px;
}

.option:hover {
    background: #A3A4A8;
    cursor: pointer;
}

.red {
    background: #D13639;
    cursor: pointer;
}

.red:hover {
    background:#BC252A
}

.social-container {
    margin: 12px auto;
    display:inline-flex;
}

.card {
    border-radius: 3px;
    margin: 10px 4px;
    width: 77px;
    height: 27px;
    background:rgba(149, 157, 165, 0.1);
    cursor: pointer;
}

.feb {
    background: #1877f2;
}

.feb:hover {
    background: #0966de;
}

.feb-img {
    display: flex;
    margin: 4px auto;
    align-items: center;
    text-align: center;
    width: 18px;
    height: 18px;
}

.goo {
    background: #ffffff;
    border: 1px solid #f2f2f2;
}

.goo:hover {
    background: #f7f7f7;
}

.goo-img {
    display: flex;
    margin: 4px auto;
    align-items: center;
    text-align: center;
    width: 18px;
    height: 18px;
}

.app {
    background: #000000;
}

.app-img {
    display: flex;
    margin: 4px auto;
    align-items: center;
    text-align: center;
    width: 18px;
    height: 18px;
}